<footer class="footer mt-auto">
    <section class="bg-dark text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h6 class="footer__title text-white">Stores</h6>
                    <ul class="footer__links">
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Turnhout (Antwerpen)</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Lommel (Limburg)</a></li>
                    </ul>

                    <h6 class="footer__title text-white mt-4">Products</h6>
                    <ul class="footer__links">
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Garden & Patio</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Ambiance & Living</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Pets & Pond</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> DIY</a></li>
                    </ul>

                    <h6 class="footer__title text-white mt-4">Sign up for your loyalty card</h6>
                    <div class="footer__newsletter">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Email Address">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h6 class="footer__title text-white">Navigation</h6>
                    <ul class="footer__links">
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Home</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Promotions</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Brands</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Careers</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Stores</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Blog</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Info</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h6 class="footer__title text-white">My Account</h6>
                    <ul class="footer__links">
                        <li><a href="#"><i class="fas fa-chevron-right"></i> My Details</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> My Loyalty Card</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Purchase History</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Loyalty Vouchers</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Exclusive Loyalty Promotions</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Wishlist</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Shopping Cart</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Email Preferences</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Recommendations</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Opening Hours/Blogs</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Returns</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h6 class="footer__title text-white">Opening Hours</h6>
                    <ul class="footer__hours">
                        <li><span>Monday</span><span>09:00 - 18:00</span></li>
                        <li><span>Tuesday</span><span>Closed</span></li>
                        <li><span>Wednesday</span><span>09:00 - 18:00</span></li>
                        <li><span>Thursday</span><span>09:00 - 18:00</span></li>
                        <li><span>Friday</span><span>09:00 - 18:00</span></li>
                        <li><span>Saturday</span><span>09:00 - 18:00</span></li>
                        <li><span>Sunday</span><span>09:00 - 18:00</span></li>
                    </ul>

                    <div class="mt-3">
                        <span class="footer__rating">
                            6749 customer reviews
                            <span class="badge badge-secondary text-primary py-1.5">4/5</span>
                        </span>
                    </div>

                    <div class="footer__social mt-3 d-flex flex-wrap gap-3">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-x-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer__bottom bg-secondary py-2 text-primary">
        <div class="container d-flex flex-wrap justify-content-between align-items-center">
            <div class="d-flex flex-wrap column-gap-3">
                <span>&copy; Garden & Pond Centre Pelckmans @DateTime.Now.Year</span>
                <a href="#">General Terms</a>
                <a href="#">Terms of Service</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Cookies</a>
                <a href="#">Disclaimer</a>
                <a href="#">Cookie Settings</a>
            </div>
            <div>
                <span>Developed by <strong>Becosoft</strong></span>
            </div>
        </div>
    </section>
</footer>
