<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BecoSoft</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <!-- App Styles -->
    <link rel="stylesheet" href="~/css/main.css" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="d-flex flex-column gap-2">
    <partial name="_Header" />

    <main class="container flex-1">
        <partial name="_Breadcrumb" />
        @RenderBody()
    </main>

    <partial name="_Footer" />

    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>

    <!-- Bootstrap 4 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- App Scripts -->
    <script src="~/js/main.js"></script>
    <script src="~/js/toastMessage.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
