@model BecoSoft.FrontendTest.Web.Models.ViewModels.ProductDetailViewModel

@{
    ViewData["Title"] = "Product Details";
}

<section class="py-4">
    <div class="row">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
            <partial name="_ProductGallery" model="Model" />
        </div>

        <div class="col-12 col-lg-6">
            <partial name="_ProductInfo" model="Model" />
        </div>
    </div>
</section>

<section class="py-4">
    <partial name="_ProductTabs" model="Model" />
</section>

<section class="py-4 border-top">
    <partial name="_BrandBanner" model="Model" />
</section>

<partial name="_RelatedProducts" model="Model" />

@section Styles {
    <link rel="preload" href="@Model.ImageUrls.First()" as="image" />
}

@section Scripts {
    <script src="~/js/productGallery.js"></script>
}
